
<div class="formes">

    <form action="/login" method="post" class="regbox">
        <h1 class="tittle">Log In</h1>
        <h1 class="tittle">Log In</h1>

        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Email</p>
            </div>
            <div class="col-8 ">
                <input type="text" id="email" name="email">
            </div>
        </div>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Password</p>
            </div>
            <div class="col-8 ">
                <input type="password" id="password" name="password" >
            </div>
        </div>

        <div class="row " id="last">
            <div class="col-3 ">
            </div>
            <div class="col-8 " id="buttonholder">
                <button class="signup"> <a href="/register" class="sign">Sign Up</a></button>
                <input type="submit" class="confirmbutton" value="Log In"></input>
            </div>
        </div>
    </form>
</div>