<div class="formes">

    <form action="/register"  method="post" class="regbox">
        <h1 class="tittle">Registration</h1>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Name</p>
            </div>
            <div class="col-8 ">
                <input type="text " id="name" name="name" required >
            </div>
        </div>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Surname</p>
            </div>
            <div class="col-8 ">
                <input type="text " id="surname" name="surname" required>
            </div>
        </div>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Email</p>
            </div>
            <div class="col-8 ">
                <input type="text " id="email" name="email" required>
            </div>
        </div>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Password</p>
            </div>
            <div class="col-8 ">
                <input type="password" id="password" name="password" required >
            </div>
        </div>
        <div class="row ">
            <div class="col-3 ">
                <p class="labels">Repeat</p>
            </div>
            <div class="col-8 ">
                <input type="password"  id="checkPass" name="checkPass" required>
            </div>
        </div>

        <div class="row " id="last">
            <div class="col-3 ">
            </div>
            <div class="col-8 " id="buttonholder">
                <button class="signup"> <a href="/login" class="sign">Log In</a></button>
                <input type="submit" class="confirmbutton" value="Sign Up"></input>
            </div>
        </div>
    </form>
</div>